body{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;  
  font-family: Arial, Helvetica, sans-serif;
   background-color: #fff; 
   display: grid;
   place-items: center;
}


header{
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    padding: auto;
}

header nav ul{
    display: flex;
    gap: 0.7rem;
    list-style: none;
}

header, main, footer{
   padding: 1rem;
}

main{
   width: 100%;
}


#logo img{
    width: 7%;
   height: auto;
}

/*Chatgpt for styling av bildene og plassering ved siden av hverandre*/
#branding-section{
    display: flex;
    flex-wrap: wrap;
}


.article-card{
    flex: 1;
    margin: 10px;
    text-align: center;
}

.branding-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


#design-section .design-article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#development-section .development-article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.article-card {
   /*max-width:350px;
   min-width:200px;*/
   display: flex;
   flex-direction: column;
   align-items: center;
}

.article-card img{
    width: 85%;
    height:auto;
    margin-bottom: 10px;
     max-width: 100%;
}

.article-card h4{
    margin-top: 10px;
}

/*til hit*/


/*Chat gpt for styling av gul boks rundt contact*/
#contact-link {
    background-color: #e6bd43;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
}

.boks{
    width:900px;
    height: 300px;
    padding: 20px; 
    margin: 40px;
    background-color:  lightgray;
    border: 1px solid #ccc;
    text-align: center;
    flex-direction: column;
    align-items: center; 
}

.boks-inni{
   width: 30%; 
   height: 1rem;
   background-color: #e6bd43;
   padding: 1rem;
   border: none;
   margin: 20px auto;
   justify-content: center;  
}

/*Brukte chatgpt for å få den grå boksen til å være inni og vedsiden av tekst og knapp*/
.gra-boks{
    height:55%;
    width:25%;
    background-color: lightgray;
    padding: 5%;
    margin-right: 8%;
 
}

.tekst-container{
    flex:1;
    padding: 10px;
}
/*Til hit*/



button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6bd43;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
   margin-bottom: 2%;
}



.stor-knapp{ 
    width: 100%;
    height: 100%;
    font-size: 95%;

}

.getintouch-knapp{
    width: 35%;
    height: 15%;
    font-size: 75%;
    font-weight: bold;
}

.company-name-boks{
    display: flex;
    width:900px;
    height: 300px;
    padding: 20px; 
    margin: 40px;
    background-color:  lightgray;
    border: 1px solid #ccc;
    text-align: left;
    flex-direction: column;
    align-items: center;
}

.name-boks-tekst{
    height:225px;
    width:400px;
    background-color: white;
    padding: 20px;
    margin-left: 450px;
    margin-right: 10%;
    padding-bottom: 10px;
}




.liten-knapp{
    background-color: transparent;
    text-align: left; /*Brukte chatgpt for å få boksen til venstre*/
    border: 2px solid #333;
   justify-content: right;
   width: 150px;
   height: 40px;
   margin: 20px  0; /*Brukte chatgpt for å få boksen til venstre*/
   padding: 10px;
   display: flex;
   justify-content: flex-start; /*Brukte chatgpt for å få boksen til venstre*/
   align-items: center;
}

 .gjennomsiktig-knapp{
    background-color: transparent;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 80px;
    
}

.produkter-main h3{
    text-align: left;
}

.produkter-main .produkt-knapper{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.liten-boks{
    height:300px;
    width:900px;
    background-color: transparent;
    border: 2px solid #333;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.portfolio-boks{
    width: 900px;
    height: 200px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 40px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/*Brukte chatgpt for å få teksten i h3 og article til å bli sentrert*/
section {
    text-align: center;
}
section h3{
    margin-bottom: 20px;
}
section article{
    max-width:800px;
    margin: 0 auto;
    text-align: left;
}
/*Til hit*/

.default-flex{
    flex:1;
    text-align: left;
    padding: 15px;
    margin-bottom: 100px;
}
.default-flex article{
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
 /*Brukte chatgpt for å få teksten vedsiden av hverandre og h2 sentrert*/
.services {
    display:flex;
    justify-content:space-between;
    padding: 30px;
    
}

.services article{
    width: 25%;
    margin-bottom: 10px;
}
/*Til hit*/

header nav ul{
    display: flex;
    text-align: end;
    justify-content:end;
    align-items:center;
    text-decoration: none;
    padding: 0.5rem;
    list-style: none;
    gap: 0.5rem;
}
/*Brukte chatgpt for å få linkene til de andre sidene å bytte farge og få bort understrekene*/
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  
}

/*Chatgpt for logoene til å ligge ved siden av hverandre, i boks med gull farge, og størrelse på boks og logoene*/
.klient-boks{
    width: 900px;
    background-color: #e6bd43;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}

.klient-boks h4{
    margin-bottom: 20px;
}

.klient-logo-boks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.klient-logo-boks img{
 width: 50px;
 margin: 10px;
}

.under-boks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
    width: 900px;
   margin: 0 auto;
}

.button{
    display: flex;
    width: 30%;
}

input{
    flex: 1;
    box-sizing: border-box;
    padding: 10px;    
}

button{
    width: 70%;
}



/*Chatgpt for styling av contact us og contact information*/
.contact-container{
    background-color:whitesmoke;
    height:450px;
    width:944px;
    flex: 1;
    border:none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#contact-info{
    width: 48%;
}


#contact-us{
    width: 48%;
    text-align: left;
    padding: 4%;
    padding-bottom: 3%;
   }

#contact-us,
#contact-info{
    width: 45%;
}
form{
    display: flex;
    flex-wrap: wrap;
}

label{
    width: 100%;
    margin-bottom: 10px;
}

input,textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


#contact-info h2,
#contact-info h4,
#contact-us h4{
    font-weight: bold;
}

#contact-us h4,
#contact-info h4{
    margin-bottom: 10px;
}
.contact-button{
    width: 100%;
    background-color: #e6bd43;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
    color: black;
}
/*Til hit*/

footer{
    background-color: #252525;
    width: 900px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}


#logo-footer img{
    width: 70px;
    height: auto;
}

#company-copyright {
    color: white;
    text-align: center;
    flex: 1;
}

aside{
    color: white;
    display: flex;
    flex: 1;
}


aside a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}


  input{
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 80%; 
    background-color: #e6bd43;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
}

/*Chatgpt for å få linjen under home,portfolio osv til å bli når man trykket seg inn la inn active på hver av sidene i htmlen for å få det til å funke*/
nav a{
    text-decoration: none;
    color: black;
    
}
nav a.active{
    border-bottom: 2px solid #e6bd43;
}

/*Chatgpt for styling av linjen*/
.linje{
    border:1px;
    height: 2px;
    background-color: #e6bd43;
    width: auto;
    
}
